
#videos {
    width: 100vw;
    height: 100vh;
}


#localVideo {
    height: 100px;
    width: auto;
    position: absolute;
    right: calc(100vw);
    top: 0px;
    z-index: -1;
}

/*
video {
    max-width: 100%;
    height: auto;
    overflow: hidden;
}
*/