
#videos {
    width: 100vw;
    height: 100vh;
}


#localVideo {
    height: auto;
    width: 100px;
    position: absolute;
    right: calc(100vw - 100px);
    top: 0px;
    z-index: 10;
}

/*
video {
    max-width: 100%;
    height: auto;
    overflow: hidden;
}
*/