.ui {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    height: 20px;
}

#videos {
    width: 100vw;
    height: 100vh;
    top: 20px;
    z-index: -1;
}


#localVideo {
    height: auto;
    width: 100px;
    position: relative;
    left: calc(50vw - 50px);
    z-index: 1;
}

/*
video {
    max-width: 100%;
    height: auto;
    overflow: hidden;
}
*/