
.ui {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;

    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    height: 20px;
}

#videos {
    width: 100vw;
    height: 100vh;
    top: 20px;
    z-index: -1;
    position: absolute;

}

#camera-info {
   position: absolute;
   top: 5px;
   right: 10px;
   width: auto;
}

#localVideo {
    height: auto;
    width: 100px;
    position: absolute;
    top: 20px;
    left: calc(100vw - 150px);
    z-index: 1;
}

#oscilloscope {
    height: 50;
    width: 100px;
    position: absolute;
    top: 100px;
    left: calc(100vw - 150px);
    z-index: 1;
}

video {
    width: 300px;
    height: auto;
}
